
body {
	margin: 0;
	padding: 0;


}
.test {
	background: center center no-repeat;
	background-size: cover;
	margin-bottom: 50px
}
.headcontain {
	width: 100%;
}
.jumbotron {
	text-align: left;
	padding: 80px 25% 80px 25%;
	background: transparent;
	color: white;
}
.transp-navbar {
	position: absolute;
	background-image: none;
	top: 0px;
	left: 0px;
	width: 100%;
	background: 0 0;
	border-bottom: 1px solid transparent;
	transform: translate3d(0, 0, 0);
	z-index: 3;

}